$lightGreen: #b9e7e7;

.app {
  display: flex;
  justify-content: center;
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }
  .container {
    width: 1024px;

    .link {
      text-decoration: none;
      padding: 20px;
      color: inherit;
    }
    //LOGIN & REGISTER

    .auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: $lightGreen;

      h1 {
        font-size: 20px;
        color: teal;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 50px;
        background-color: white;
        width: 200px;
        gap: 20px;

        input {
          padding: 10px;
          border: none;
          border-bottom: 1px solid gray;
        }

        button {
          padding: 10px;
          border: none;
          background-color: teal;
          cursor: pointer;
          color: white;
        }

        p {
          font-size: 12px;
          color: red;
          text-align: center;
        }

        span {
          font-size: 12px;
          text-align: center;
        }
      }
    }
    .dropdown-container {
      width: 300px;
      z-index: 9999;
    }
    //NAVBAR

    .navbar {
      .container {
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
          img {
            width: 120px;
          }
        }
        .links {
          display: flex;
          align-items: center;
          gap: 10px;

          h6 {
            font-size: 16px;
            font-weight: 300;
          }

          span {
            cursor: pointer;
          }

          .write {
            background-color: $lightGreen;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 300;
            border: 1px solid white;

            &:hover {
              color: teal;
              background-color: white;
              border: 1px solid teal;
            }
          }
        }
      }
    }
    .dropdown {
      position: absolute;
      // right: 0;
      left: auto;
      box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
        0 4px 6px -2px rgba(71, 63, 79, 0.16);
      font-size: 0.875rem;
      z-index: 9999;
      min-width: 10rem;
      padding: 0.5rem 0;
      list-style: none;
      background-color: #fff;
      border-radius: 0.5rem;
      display: none;
    }
    .menus {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      list-style: none;
    }
    .menu-items {
      position: relative;
      font-size: 14px;
    }
    .menu-items a {
      display: block;
      font-size: inherit;
      color: inherit;
      text-decoration: none;
    }
    .menu-items button {
      display: flex;
      align-items: center;
      color: inherit;
      font-size: inherit;
      border: none;
      background-color: transparent;
      cursor: pointer;
      width: 100%;
    }
    
    button span {
      margin-left: 3px;
    }
    
    .menu-items > a, .menu-items button {
      text-align: left;
      padding: 0.7rem 1rem;
    }
    
    .menu-items a:hover,
    .menu-items button:hover {
      background-color: #f2f2f2;
    }
    .arrow::after {
      content: "";
      display: inline-block;
      margin-left: 0.28em;
      vertical-align: 0.09em;
      border-top: 0.42em solid;
      border-right: 0.32em solid transparent;
      border-left: 0.32em solid transparent;
    }
    .dropdown.show {
      display: block;
    }
    .dropdown .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: -7px;
}
    //FOOTER

    footer {
      margin-top: 100px;
      padding: 20px;
      background-color: $lightGreen;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
      img {
        height: 50px;
      }
    }

    //HOME

    .home {
      .posts {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 1px;
        .post:hover{
          background-color: #76adec;
          transform: scale(1.05);

          box-shadow: 5px 5px 10px 2px rgba(58, 128, 186, 0.8);
        }
        .post {
          display: flex;
          // gap: 10px;
          margin: auto;
          width: 60%;
          border: 3px solid rgb(152, 189, 245);
          
          // padding: 10px;
          .content {
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .link{
              padding: 7px;
            }
            
            h1 {
              font-size: 48px;
            }
            span{
              padding-right: 10px;
              padding-left: 10px;
            }

            p {
              font-size: 18px;
            }

            button {
              width: max-content;
              padding: 10px 20px;
              border: none;
              cursor: pointer;
              background-color: white;
              border: 1px solid teal;
              color: teal;

              &:hover {
                border: 1px solid white;
                background-color: $lightGreen;
                color: black;
              }
            }
          }
        }
      }
    }

    //SINGLE

    .single {
      display: flex;
      gap: 50px;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 30px;

        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 14px;
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            font-weight: bold;
          }
        }

        .edit {
          display: flex;
          gap: 5px;

          img {
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
        }

        h1 {
          font-size: 42px;
          color: #333;
        }

        p {
          text-align: justify;
          line-height: 30px;
        }
      }
      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 25px;

        h1 {
          font-size: 20px;
          color: #555;
        }

        .post {
          display: flex;
          flex-direction: column;
          gap: 10px;

          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
          }

          h2 {
            color: #555;
          }

          button {
            width: max-content;
            padding: 7.5px 15px;
            border: none;
            cursor: pointer;
            color: teal;
            background-color: white;
            border: 1px solid teal;

            &:hover {
              border: 1px solid white;
              background-color: $lightGreen;
              color: black;
            }
          }
        }
      }
    }

    //WRITE

    .add {
      margin-top: 20px;
      display: flex;
      gap: 20px;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 20px;

        input {
          padding: 10px;
          border: 1px solid lightgray;
        }
        .modal {
          font-size: 12px;
        }
        .modal > .header {
          width: 100%;
          border-bottom: 1px solid gray;
          font-size: 18px;
          text-align: center;
          padding: 5px;
        }
        .modal > .content {
          width: 100%;
          padding: 10px 5px;
        }
        .modal > .actions {
          width: 100%;
          padding: 10px 5px;
          margin: auto;
          text-align: center;
        }
        .modal > .close {
          cursor: pointer;
          position: absolute;
          display: block;
          padding: 2px 5px;
          line-height: 20px;
          right: -10px;
          top: -10px;
          font-size: 24px;
          background: #ffffff;
          border-radius: 18px;
          border: 1px solid #cfcece;
        }

        .editorContainer {
          height: 300px;
          overflow: scroll;
          border: 1px solid lightgray;

          .editor {
            height: 100%;
            border: none;
          }
        }
      }

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item {
          border: 1px solid lightgray;
          padding: 10px;
          flex:1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 12px;
          color: #555;

          h1{
            font-size: 20px;
          }

          .file{
            text-decoration: underline;
            cursor: pointer;
          }

          .buttons{
            display: flex;
            justify-content: space-between;

            :first-child{
              cursor: pointer;
              color: teal;
              background-color: white;
              border: 1px solid teal;
              padding: 3px 5px;
            }
            :last-child{
              cursor: pointer;
              color: white;
              background-color: teal;
              border: 1px solid teal;
              padding: 3px 5px;
            }
          }

          .cat{
            display: flex;
            align-items: center;
            gap: 2px;
            color: teal;
          }
        }
      }
    }
  }
}
